@font-face {
    font-family: "Potato";
    src: url("./fonts/Potato-400.otf");
}

:root {
    --font: 'Potato';
    --secondary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --primary-color: #865D42;
    --bg-color: #D7E9F8;
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    background-color: var(--bg-color);
}

.bold-text {
    font-weight: bold !important;
}

.mint-button {
    display: inline-block;
    border: 4px solid var(--black);
    width: 200px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-weight: bold !important;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    font-size: 20px;
    padding: 0.8rem 0;
    border-radius: 10px;
}

/* header */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 4rem;
    padding-left: 6rem;
}
.header .header-logo {
    color: var(--primary-color);
    margin-top: 30px;
} 
.header nav ul{
 display: flex;
 justify-content: center;
 align-items: center;
 list-style-type: none;
}
.header nav ul li {
    padding-left: 1rem;
}
/* header */

/* showcase */
.showcase {
    padding-left: 6rem;
    padding-right: 10rem;
}

.showcase .showcase-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.showcase .showcase-row .showcase-col {
    flex-basis: 46%;
}

/* first col */
.showcase .showcase-row .showcase-col:nth-child(1) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
} 

.showcase .showcase-row .showcase-col:nth-child(1) img {
    width: 400px;
    height: 400px;
    transform: rotate(-10deg);
    margin-top: 20px;
}

/* first col */

/* second col */
.showcase .showcase-row .showcase-col:last-child {
    text-align: center ;
    margin-top: -70px;
}
.showcase .showcase-row .showcase-col:last-child .showcase-col-desc {
    font-size: 33px;
    color: var(--primary-color);
    line-height: 1;
    margin-bottom: 10px;
}
.showcase-col-sub-title {
    margin-bottom: 25px;
    font-size: 25px;
}
.mint {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}
.mint .mint-input {
    margin-right: 20px;
}
.mint .mint-input button {
    border: 0;
    outline: none;
    background-color: transparent;
    font-size: 40px;
    cursor: pointer;
} 
.mint .mint-input span {
    font-size: 40px;
    font-family: var(--secondary-font);
    font-weight: bold;
    margin: 0 30px;
}
.showcase  .showcase-row .showcase-col:last-child h4{
  font-family: var(--secondary-font);
  font-weight: bold;    
  font-size: 18px;
}
/* second col */


.showcase-col-sub-title,.bold-text{
 font-family: var(--secondary-font);
 font-weight: 500;
}
/* showcase */

div#background {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;
    background-image: url('./background.png');
    background-size: cover;
    width: 100%;
    opacity: 0.5;
  }


  /* responsive */
  @media screen and (max-width: 1150px) {
    .header-logo {
        margin-top: 0 !important;
    }
    .showcase-row {
        flex-direction: column;
    }
    .showcase .showcase-row .showcase-col:last-child {
        text-align: center ;
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .showcase-col {
        flex-basis: 100%;
    }
  }

  @media screen and (max-width: 750px) {
    .header {
        padding: 0.5rem 2rem;
        padding-left: 2rem;
    }
    .showcase {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .showcase .showcase-row .showcase-col:nth-child(1) img  {
        width: 250px;
        height: 250px;
        margin-top: 50px;
    }
  }

  @media screen and (max-width: 500px) {
    .showcase {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .mint {
        flex-direction: column;
    }
    .header nav ul{
        flex-direction: column;
    }
  }
  /* responsive */